<div id="main-container" class="row">
    <div class="col-md-10 text-sm-center">
      <div>
        <div class="container">
          <h3>WELCOME!</h3>
          <p>
            Funda is an online learning platform. This platform is made to help high school students get assistance from
            people across the country.
          </p>
  
          <p>
            This platform is powered by RodCode.
          </p>
          
          <div>
              Tutors: <span class="numbers">{{numberOfTutors}}</span><br> 
              Students: <span class="numbers">{{numberOfStudents}}</span>
          </div>
        </div>
      </div>
  </div>