<div class="dropdown" *ngIf="user" style="position: absolute;top: 0;right: 0">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <mat-icon class="align-text-top">person</mat-icon>{{user.first_name}}   
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <button (click)="logout()" class="btn dropdown-item"><mat-icon class="align-text-top">exit_to_app</mat-icon>Log Out</button>
    </div>
  </div>
<button *ngIf="!user" (click)="login()" class="btn btn-link mr-0" style="position: absolute;top: 0;right: 0;color:white">Log In</button>