<h4>Coming Soon...</h4>
<!-- <app-selection (onFetch)="fetchData($event)"></app-selection>
<br/>
<br/>
<div *ngIf="user.role!=='student'">
  <button *ngIf="!editingLesson" class="btn" (click)="editingLesson=true">Create Lesson</button>
</div>
<ng-container *ngIf="editingLesson">
  <div class="container">
    <label for="lessonTitle">Title</label>
    <input name="lessonTitle" type="text" class="form-control" [(ngModel)]="newLesson.title">

    <label for="tags">Tags</label>
    <input name="tags" type="text" class="form-control" [(ngModel)]="newLesson.tags">

    <label for="lessonLanguage">Select language:</label>
      <select class="form-control" name="lessonLanguage" [(ngModel)]="newLesson.language">
          <option>English</option>
          <option>IsiXhosa</option>
          <option>IsiZulu</option>
          <option>XiTsonga</option>
      </select>

    <app-editor [saveCommand]="saveCommand"></app-editor>
    
    <button class="btn" (click)="createLesson()">Save Lesson</button>
  </div>
</ng-container>
<ng-container *ngIf="!editingLesson">
  
</ng-container> -->
<!-- <div *ngIf='showList' id="notes-container" class="container">
  <div id="notes">
    <div *ngFor="let note of notes" class="card" id='note-{{note.id}}' (click)='openNote(note.id)'>
      <div class="d-flex w-100 container">
        <div>
          <span class="username_card text-left" id="usr-{{note.user_id}}">{{note.author}}</span>
        </div>
        <div class="note_delete" *ngIf="note.user_id===user.user_id">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="optDropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Options
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="optDropdownMenuButton">
              <button class="dropdown-item" (click)="removeNote(note)">
                <mat-icon>delete</mat-icon>Delete
              </button>
              <button class="dropdown-item" (click)="editNote(note)">
                <mat-icon>edit</mat-icon>Edit
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        {{note.title}}
      </div>
    </div>
    <div *ngIf="noNotesAvailable">
      <h1 style="color:darkgrey;">No notes available for this subject.</h1>
    </div>
  </div>
</div>

<div *ngIf='noteToRead && !showList' id="note-reader" class="container">
  <button (click)='showList=true;'>Show List</button>
  <div id="note">
    <div id='title-container'>
      <h3>{{noteToRead.title}}</h3>
    </div>
    <div id='note-info'>
      <div>{{noteToRead.author}}</div>
      <div>{{noteToRead.created_at}}</div>
    </div>
    <div id='note-body-container'>
      <div *ngFor='let paragraph of noteToRead.paragraphs'>
        <div [innerHtml]='transform(paragraph)'></div>
      </div>
    </div>
  </div>
</div> -->
