<div class="register-form-container container col-md-6 col-sm-8">
  <form *ngIf="!selectSubjects" method="post" (ngSubmit)="register(signUpForm)" #signUpForm="ngForm">
    <div class="form-group" FormGroup>
      <label for="firstName">First Name:</label>
      <input id="firstName" type="text" class="form-control" name="firstName" #firstName="ngModel" ngModel FormControl
        required>
      <div *ngIf="firstName.control.touched && !firstName.valid" class="alert alert-danger">
        First name is required
      </div>
    </div>
    <div class="form-group" FormGroup>
      <label for="lastName">Last Name:</label>
      <input id="lastName" type="text" class="form-control" name="lastName" #lastName="ngModel" ngModel FormControl
        required>
      <div *ngIf="lastName.control.touched && !lastName.valid" class="alert alert-danger">
        Last name is required
      </div>
    </div>
    <div class="form-group" FormGroup>
      <label for="email">Email:</label>
      <input id="email" type="email" class="form-control" name="email" #email="ngModel" ngModel FormControl>
      <!-- <div *ngIf="password.control.touched && !password.control.valid" class="alert alert-danger">
        Email is required.
      </div>
      <div *ngIf="password.control.touched && !password.control.valid" class="alert alert-danger">
        Email is invalid.
      </div> -->
    </div>
    <div class="form-group" FormGroup>
      <label for="tel">Cell Number:</label>
      <input id="tel" type="tel" class="form-control" name="tel" #tel="ngModel" ngModel FormControl>
      <!-- <div *ngIf="password.control.touched && !password.control.valid" class="alert alert-danger">
        Cell number is invalid.
      </div>
      <div *ngIf="password.control.touched && !password.control.valid" class="alert alert-danger">
        Cell number is required.
      </div> -->
    </div>
    <div class="form-group" FormGroup>
      <label for="userPwd">Password:</label>
      <input id="userPwd" type="password" class="form-control" name="password" #password="ngModel" ngModel FormControl
        required>
      <div *ngIf="password.control.touched && !password.control.valid" class="alert alert-danger">
        Password is required.
      </div>
    </div>
    <div class="form-group" FormGroup>
      <label for="confPwd">Confirm Password:</label>
      <input id="confPwd" type="password" class="form-control" #password_confirmation="ngModel"
        name="password_confirmation" ngModel FormControl required>
      <div *ngIf="password_confirmation.value!==password.value && password_confirmation.valid"
        class="alert alert-danger">Passwords don't match.</div>
      <div *ngIf="!password_confirmation.valid && password_confirmation.control.touched" class="alert alert-danger">You
        need to re-enter your password.</div>
    </div>
    <div class="form-group" FormGroup>
      Select a role:
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" #student="ngModel" value="student" ngModel checked>
        <label for="studentRole" class="form-check-label">Student</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" #teacher="ngModel" ngModel value="teacher">
        <label for="teacherRole" class="form-check-label">Teacher</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" #tutor="ngModel" ngModel value="tutor">
        <label for="tutorRole" class="form-check-label">Tutor</label>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!isValid(signUpForm)">Register</button>
  </form>

  <div *ngIf="selectSubjects">
    Select subjects to tutor below
    
    <div *ngFor="let subject of availableSubjects" class="form-check" class="shadow pl-4 pb-2 pt-2 pr-2 mb-2 bg-white rounded">
      <input class="form-check-input" type="checkbox" value="" id="{{subject.id}}" (change)="subject['selected']? subject['selected']=0:subject['selected']=1">
      <label class="form-check-label" for="{{subject.id}}" style="color: #3db73d">
        {{subject.name}}
      </label>
    </div>
    <button class="btn btn-success" (click)="continue()">Continue</button>
  </div>
</div>