<div class="input-group mb-3 col-sm-8 col-md-8">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Subject</label>
  </div>
  <select class="custom-select" id="subjects" #subject>
    <option selected>Choose...</option>
    <option *ngFor="let subject of subjects" value="{{subject.id}}">{{subject.title}}</option>
  </select>
</div>
<div class="input-group mb-3 col-sm-8 col-md-8">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Grade</label>
  </div>
  <select class="custom-select" id="grades" #grade>
    <option selected>Choose...</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
</div>
<button class="btn btn-success ml-3" (click)="fetch(subject.value,grade.value)">Fetch</button>