<div id="confirmation" *ngIf="data.popup=='warning'" class="col-sm-12 col-md-12">
  <div class="card text-center">
    Are you sure??
    <div class=" d-flex justify-content-around">
      <button class="btn btn-outline-danger" [mat-dialog-close]=true>Yes</button>
      <button class="btn btn-outline-success" [mat-dialog-close]=false>No</button>
    </div>
  </div>
</div>