<ng-container *ngIf="!searching">
  <div class="accordion" id="chatroom">
    <div class="card">
      <div class="card-header" id="my-tutors">
        <h2 class="mb-0">
          <button *ngIf="user.user_role==='student'" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-my-tutors"
            aria-expanded="true" aria-controls="collapse-my-tutors">
            My Tutors
          </button>
          <button *ngIf="user.user_role==='tutor'" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-my-tutors"
            aria-expanded="true" aria-controls="collapse-my-tutors">
            My Students
          </button>
        </h2>
      </div>

      <div id="collapse-my-tutors" class="collapse" aria-labelledby="my-tutors" data-parent="#chatroom">
        <span *ngIf="user.user_role==='student'" (click)="searching=true" class="card-body">click here to find tutors</span>
        <div class="card-body">
          <ul *ngIf="user.user_role==='tutor'" class="list-group list-group-flush">
            <li *ngFor="let student of contactList?.students" class="list-group-item">
              <div class="align-items-center d-flex">
                <div class="availability" [ngClass]="{'online':student.online,'offline':!student.online}">&#8226;</div>
                <div class="name col-9">{{student.first_name}} {{student.last_name}}</div>
                <div (click)="goToChat(student)" class="link" style = "color: #007bff">message</div>
              </div>
              <div class="subject">{{student.subject}}</div>
            </li>
          </ul>
          <ul *ngIf="user.user_role==='student'" class="list-group list-group-flush">
            <li *ngFor="let tutor of contactList?.tutors" class="list-group-item">
              <div class="align-items-center d-flex">
                <div class="availability" [ngClass]="{'online':tutor.online,'offline':!tutor.online}">&#8226;</div>
                <div class="name col-9">{{tutor.first_name}} {{tutor.last_name}}</div>
                <div (click)="goToChat(tutor)" class="link">message</div>
              </div>
              <div class="subject">{{tutor.subject}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="my-groups">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-my-groups"
            aria-expanded="false" aria-controls="collapse-my-groups">
            My Groups
          </button>
        </h2>
      </div>
      <div id="collapse-my-groups" class="collapse" aria-labelledby="my-groups" data-parent="#chatroom">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li *ngFor="let group of contactList?.groups" class="list-group-item">
              <div class="name">
                {{group.name}}
              </div>
              <div class="group-admin">
                admin: {{group.admin?.username}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</ng-container>
<ng-container *ngIf="searching">
  <div class="container mt-2">
    <h5>Search for tutors by name</h5>
  <div class="d-flex input-container col-10 ml-4 bg-white">
    <input placeholder="search" type="text" class="col-10" #queryName>
    <mat-icon class="justify-content-center d-flex w-100" (click)="findTutorsByName(queryName.value)">search</mat-icon>
  </div>
  <br>
  <h5>Search for tutors by subject</h5>
  <div class="d-flex input-container col-10 ml-4 bg-white">
    <input placeholder="search" type="text" class="col-10" #querySubject>
    <mat-icon class="justify-content-center d-flex w-100" (click)="findTutorsBySubject(querySubject.value)">search</mat-icon>
  </div>
  <br>
  <button class="btn btn-success ml-4" (click)="listAll()">List all</button>
  <div class="container">
    <div *ngFor="let availableTutor of availableTutors" class="d-flex">
      <div class="col-8">
        {{availableTutor.first_name}} {{availableTutor.last_name}}
      </div>
      <div class="col-2 btn-link" (click)="inviteTutor(availableTutor)">
        Invite
      </div>
      <div class="col-2 btn-link" (click)="viewProfile(availableTutor)">
        Profile
      </div>
    </div>
  </div>
  </div>
</ng-container>