.spinner-container{
    color: green;
    height: 100vh;
    z-index: 100001;
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: black;
    opacity: 0.8;
}

.spinner-border{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 40vh;
}