<div id = "edit_question" *ngIf="data.popup=='edit_question'">
    <div class="card text-center">
      <textarea [(value)] = "data.question.question" #editedQuestion></textarea>
    </div>
    <div class="d-flex justify-content-around">
      <button class="btn" [mat-dialog-close]="{value:false}">Cancel</button>
      <button class="btn btn-succes" [mat-dialog-close]="{value:true}" (click)="setEditedQuestion()">Save</button>
    </div>
  </div>

  <div id = "edit_answer" *ngIf="data.popup=='edit_answer'">
    <div class="card text-center">
      <textarea [(value)] = "data.answer.answer" #editedAnswer></textarea>
    </div>
    <div class="d-flex">
      <button class="btn" [mat-dialog-close]="{value:false}">Cancel</button>
      <button class="btn btn-succes" [mat-dialog-close]="{value:true}" (click)="setEditedAnswer()">Save</button>
    </div>
  </div>