#questions{
  .card{
    padding-bottom: 2%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 8px -2px #3db73d;
  }
}
#ask-btn{
  right: 0;
}

#questions_container{
  font-size: 14px;
  .btn{
    font-size: 14px;
  }
}

.card{
  .d-flex{
    justify-content: space-between;
  }

  .card-body{
    border: 1px solid #3db73d;
    margin: 1em;
    border-radius: 0.8em;
    max-height: 7em;
    overflow-y: scroll;
  }
}

