<br>
<app-selection (onFetch)="fetchData($event)"></app-selection>
<br/>
<br/>
<div class="container" id="questions_container">
  <ul class="nav nav-tabs position-relative">
    <li class="nav-item"><a class = "nav-link active" data-toggle="tab" href="#all_questions">All questions</a></li>
    <li class="nav-item"><a class = "nav-link" data-toggle="tab" href="#my_questions">My questions</a></li>
    <li><button class="btn btn-success position-absolute" id = "ask-btn" (click)="openQuestionPopup()">Ask</button></li>
  </ul>
  <br>
  <div class="tab-content">
    <div id="all_questions" class="tab-pane active">
      <div id = "questions">
        <div *ngFor="let question of questions" class="card" id='qa-{{question.question_id}}'>
          <div class="d-flex w-100 container mt-2">
            <div>
              <span class="username_card text-left" id="usr-{{question.user_id}}">{{unescape(question.username)}}</span>
            </div>
            <div class="options" *ngIf="question.user_id===user.user_id">
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="optDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Options
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="optDropdownMenuButton">
                  <button class="dropdown-item" (click)="removeQuestion(question)"><mat-icon class="align-text-top">delete</mat-icon>Delete</button>
                  <button class="dropdown-item" (click)="editQuestion(question)"><mat-icon class="align-text-top">edit</mat-icon>Edit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            {{unescape(question.question)}}
          </div>
          <div class="container d-flex w-100">
            <div class="card-link text-left show_answers">
              <button *ngIf="question.num_of_answers" class="btn" (click)="openAnswersPopup(question)">Show <span class="answers_count">{{question.num_of_answers}}</span> answers</button>
              <span *ngIf="!question.num_of_answers">No answers</span>
            </div>
            <div class="card-link answer-btn">
              <button class="btn" (click)="openAnswerPopup(question)">Answer</button>
            </div>
          </div>
        </div>
        <div *ngIf="noQuestionAvailable">
          <h1 style="color:darkgrey;">No questions available for this subject. You can ask a question.</h1>
        </div>
      </div>
    </div>
    <div id="my_questions" class="tab-pane fade">
        <div id = "questions">
          <div *ngFor="let question of questions" >
              <div class="card" id='qa-{{question.question_id}}' *ngIf="question.user_id===user.user_id">
                  <div class="d-flex w-100 container mt-2">
                    <div>
                      <span class="username_card text-left" id="usr-{{question.user_id}}">{{unescape(question.username)}}</span>
                    </div>
                    <div>
                      <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="optDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Options
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="optDropdownMenuButton">
                          <button class="dropdown-item" (click)="removeQuestion(question)"><mat-icon class="align-text-top">delete</mat-icon>Delete</button>
                          <button class="dropdown-item" (click)="editQuestion(question)"><mat-icon class="align-text-top">edit</mat-icon>Edit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    {{unescape(question.question)}}
                  </div>
                  <div class="container d-flex w-100">
                    <div class="card-link text-left show_answers">
                      <button *ngIf="question.num_of_answers" class="btn" (click)="openAnswersPopup(question)">Show <span class="answers_count">{{question.num_of_answers}}</span> answers</button>
                      <span *ngIf="!question.num_of_answers">No answers</span>
                    </div>
                    <div class="card-link answer_link" >
                      <button class="btn" (click)="openAnswerPopup(question)">Answer</button>
                    </div>
                  </div>
                </div>
          </div> 
          <div *ngIf="questions && questions.length==0 && subject">
            <h1 style="color:darkgrey;">No questions available for this subject. You can ask a question</h1>
          </div>   
        </div>
    </div>
  </div>
</div>
