<div class="question-modal" *ngIf="data.popup=='question' && display">
  <div class="modal-body">
    <span>Which chapter/topic?</span>
    <textarea id="chapter_topic" cols="30" rows="1" class="w-100" #questionTopic></textarea>

    <div class="form-group">
      <label for="tutorial_language">Select language:</label>
      <select class="form-control" id="question_language" #questionLanguage>
        <option>English</option>
        <option>IsiXhosa</option>
        <option>IsiZulu</option>
        <option>XiTsonga</option>
      </select>
    </div>
    <div id="question_area_container">
      <textarea name="question_textarea" id="question_textarea" cols="30" rows="10" class="w-100" #question></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary close" (click)="closePopup()">Close</button>
    <button id="post_question" class="btn btn-success" (click)="submitQuestion(data.user,data.subject,data.grade)">Post
      Question</button>
  </div>
</div>

<div class="answer-modal" *ngIf="data.popup=='answer' && display">
  <div class="modal-body">
    <div class="card" id="question-to-answer-display">
      <div class="card-body">
        {{unescape(data.question.question)}}
      </div>
    </div>
    <div id="answer_area_container">
      Answer:
      <textarea name="question_textarea" id="answer_textarea" cols="30" rows="10" class="w-100"
        #answerToQuestion></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary close" (click)="closePopup()">Close</button>
    <button id="post_answer" class="btn btn-success" (click)="submitAnswer(data.question, data.user)">Answer
      Question</button>
  </div>
</div>

<div class="answer-modal" *ngIf="message">
  <div class="modal-header">
    <button class="btn close" (click)="closePopup()">
      <span>
        <mat-icon>close</mat-icon>
      </span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="message">{{message}}</div>
  </div>
</div>

<div id="answers" *ngIf="data.popup=='answers'" #answers>
  <div class="modal-header">
    <span class="close" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </span>
  </div>
  <div *ngFor="let answer of data.answers" class="card" id='answer-{{answer.answer_id}}'>
    <div class="d-flex w-100 container">
      <div>
        <span class="username_card text-left" id="usr-{{answer.user_id}}">{{unescape(answer.username)}}</span>
      </div>
      <div class="options" *ngIf="answer.user_id===data.user.user_id">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Options
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" (click)="removeAnswer(answer)">
              <mat-icon class="align-text-top">delete</mat-icon>Delete
            </button>
            <button class="dropdown-item" (click)="editAnswer(answer)">
              <mat-icon class="align-text-top">edit</mat-icon>Edit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      {{unescape(answer.answer)}}
    </div>
    <div class="d-flex">
      <div class="votes col-md-4">
        <button type="button" class="btn" (click)="vote(answer,data.user)" id="like-btn{{answer.answer_id}}">
          <mat-icon class="align-text-top">thumb_up</mat-icon> <span class="badge badge-light"
            *ngIf="answer.votes">{{answer.votes}}</span><span class="badge badge-light" *ngIf="!answer.votes">0</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="answer-modal" *ngIf="data.popup==='profile'">
  <div class="modal-header">
    <span class="close" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </span>
  </div>
  <app-profile [user]="data.user" [showInviteBtn]="true"></app-profile>
</div>