<app-spinner></app-spinner>
<!-- <app-body></app-body> -->
<nav id = "big-screen-navbar" class="navbar flex-row navbar-expand-lg navbar-light top-bar">
  <div class="logo">
    <img src="assets/logo.png">
  </div>
  
  <button (click)="!isNavOpen?openNav():closeNav()" class="navbar-toggler border-dark" type="button"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
    aria-label="Toggle navigation">
    <div class="nav-collapse position-relative" [ngClass]="{'closed':!isNavOpen, 'open':isNavOpen}">
      <span></span>
    </div>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" #navbar>
    <div class="navbar-nav">
      <a *ngIf="!isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='login'}"
        [routerLink]="['/login']" (click)="closeNav();page='login'">Log In</a>
      <a *ngIf="!isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='register'}"
        [routerLink]="['/register']" (click)="closeNav();page='register'">Register</a>
      <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='home'}"
        [routerLink]="['/']" (click)="closeNav();page='home'">
        <mat-icon class="align-text-top">home</mat-icon>Home <span class="sr-only">(current)</span>
      </a>
      <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='q-and-a'}"
        [routerLink]="['/q-and-a']" (click)="closeNav();page='q-and-a'">
        <mat-icon class="align-text-top">question_answer</mat-icon>Q&A
      </a>
      <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='lessons'}"
        [routerLink]="['/lessons']" (click)="closeNav();page='lessons'">
        <mat-icon class="align-text-top">notes</mat-icon>Lessons
      </a>
      <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='tutorials'}"
        [routerLink]="['/tutorials']" (click)="closeNav();page='tutorials'">
        <mat-icon class="align-text-top">class</mat-icon>Tutorials
      </a>
      <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='cue-cards'}"
        [routerLink]="['/flash-cards']" (click)="closeNav();page='cue-cards'">
        <mat-icon class="align-text-top">flip</mat-icon>Cue Cards
      </a>
      <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='profile'}"
        [routerLink]="['/profile']" (click)="closeNav();page='profile'">
        <mat-icon class="align-text-top">account_circle</mat-icon>Profile
      </a>
    </div>
  </div>
  
  <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='chat'}"
    [routerLink]="['/chatroom']" (click)="closeNav();page='chat'">
    <mat-icon class="align-text-top">chat</mat-icon><span *ngIf="messagesCount>0"
      class="badge badge-light">{{messagesCount}}</span>
  </a>
  <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='notifications'}"
    [routerLink]="['/notifications']" (click)="closeNav();page='notifications';markNotificationsAsRead()">
    <mat-icon class="align-text-top">notifications</mat-icon> <span *ngIf="notificationsCount>0"
      class="badge badge-light">{{notificationsCount}}</span>
  </a>
  <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" (click)="logout()">
      <mat-icon class="align-text-top">power_settings_new</mat-icon>Logout
    </a>
</nav>

<nav id = "small-screen-navbar" class="navbar flex-row navbar-expand-lg navbar-light top-bar">
    <div class="logo">
      <img src="assets/logo.png">
    </div>
    <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='chat'}"
      [routerLink]="['/chatroom']" (click)="closeNav();page='chat'">
      <mat-icon class="align-text-top">chat</mat-icon><span *ngIf="messagesCount>0"
        class="badge badge-light">{{messagesCount}}</span>
    </a>
    <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='notifications'}"
      [routerLink]="['/notifications']" (click)="closeNav();page='notifications';markNotificationsAsRead()">
      <mat-icon class="align-text-top">notifications</mat-icon> <span *ngIf="notificationsCount>0"
        class="badge badge-light">{{notificationsCount}}</span>
    </a>
    <button (click)="!isNavOpen?openNav():closeNav()" class="navbar-toggler border-dark" type="button"
      data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <div class="nav-collapse position-relative" [ngClass]="{'closed':!isNavOpen, 'open':isNavOpen}">
        <span></span>
      </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngClass]="{'show':isNavOpen}">
      <div class="navbar-nav">
        <a *ngIf="!isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='login'}"
          [routerLink]="['/login']" (click)="closeNav();page='login'">Log In</a>
        <a *ngIf="!isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='register'}"
          [routerLink]="['/register']" (click)="closeNav();page='register'">Register</a>
        <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='home'}"
          [routerLink]="['/']" (click)="closeNav();page='home'">
          <mat-icon class="align-text-top">home</mat-icon>Home <span class="sr-only">(current)</span>
        </a>
        <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='q-and-a'}"
          [routerLink]="['/q-and-a']" (click)="closeNav();page='q-and-a'">
          <mat-icon class="align-text-top">question_answer</mat-icon>Q&A
        </a>
        <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='lessons'}"
          [routerLink]="['/lessons']" (click)="closeNav();page='lessons'">
          <mat-icon class="align-text-top">notes</mat-icon>Lessons
        </a>
        <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='tutorials'}"
          [routerLink]="['/tutorials']" (click)="closeNav();page='tutorials'">
          <mat-icon class="align-text-top">class</mat-icon>Tutorials
        </a>
        <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='cue-cards'}"
          [routerLink]="['/flash-cards']" (click)="closeNav();page='cue-cards'">
          <mat-icon class="align-text-top">flip</mat-icon>Cue Cards
        </a>
        <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" [ngClass]="{'active':page==='profile'}"
          [routerLink]="['/profile']" (click)="closeNav();page='profile'">
          <mat-icon class="align-text-top">account_circle</mat-icon>Profile
        </a>
        <a *ngIf="isLoggedInUser()" class="nav-item nav-link btn" (click)="logout()">
          <mat-icon class="align-text-top">power_settings_new</mat-icon>Log Out
        </a>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>