.navbar{
    flex-direction: row-reverse;
    .navbar-collapse{
      .nav-link{
        color:#fff;
        text-transform: capitalize;
        font-weight:bold;
      }
    }
    .navbar-toggler{
      height: 2em;
      width: 2.5em;
    }
  }
  
  .selected-subject{
    color: #3db73d !important;
  }
  
  .active{
    background-color: #3db73d !important;
    border: 1px solid;
  }
  
  .btn:focus{
    box-shadow: none  !important;
  }

  .top-bar{
    background-image: linear-gradient(to bottom, green , #3db73d);
    -webkit-box-shadow: inset 0 -3px 2px rgba(10, 10, 10, 0.5);
    -moz-box-shadow: inset 0 -3px 2px rgba(10, 10, 10, 0.5);
    box-shadow: inset 0 -3px 2px rgba(10, 10, 10, 0.5);
    .reg-login{
      float: right;
      .mat-button{
        border-radius: 0px !important;
      }
      .login{
        margin: 15px 5px;
      }
      .register{
        margin: 15px 5px;
      }
    }
  }

  