<div class="login-form-container container col-sm-8 col-md-6">
  <form method="post" (ngSubmit)="login(signInForm)" #signInForm="ngForm" >
    <div class="form-group" FormGroup>
      <label for="username">Username:</label>
      <input 
        ngModel
        #username="ngModel"
        name="username" 
        type="text" 
        class="form-control"
        FormControl
        required
        pattern='^0[6-8][1-9]{8}$|(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)'
        >
      <div *ngIf="username.control.touched && !username.valid" class="alert alert-danger">
        <div *ngIf="username.errors.required">Username is required</div>
        <div *ngIf="username.errors.pattern">Username/number is not valid.</div>
      </div>
    </div>
    <div class="form-group" FormGroup>
      <label for="password">Password:</label>
      <input ngModel name="password" #password="ngModel" type="password" class="form-control" FormControl required>
      <div *ngIf="password.control.touched && !password.control.valid" class="alert alert-danger">
        Username is required
      </div>
    </div>
    <button type="submit" class="btn btn-success" [(disabled)]="!signInForm.valid">Login</button>
  </form>
  <a routerLink="/register">Register here</a>
</div>
