<div class="profile-sidebar">
  <div class="profile-userpic">
    <ng-container *ngIf="!showUpload">
      <div class="text-center d-flex align-items-center justify-content-center">
        <div class="profile-pic">
          <ng-container *ngIf="!user.avatarUrl">
              <mat-icon>account_circle</mat-icon>
          </ng-container>
          <ng-container *ngIf="user.avatarUrl">
              <img [src]="user.avatarUrl" class="img-responsive" alt="">
          </ng-container>
        </div>
        <div class="link" (click)="showUpload=!showUpload">
          edit
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="showUpload">
      <div class="text-center d-flex align-items-baseline justify-content-center">
        <label for="fu-btn" class="btn btn-primary btn-sm afu-select-btn">Choose</label>
        <input type="file" id="fu-btn" style="display: none" *ngIf="!hideSelectBtn" (change)="onChange($event)"
           name="file" />
        <button class="btn btn-info btn-sm resetBtn afu-reset-btn" (click)="resetFileUpload()"
          *ngIf="!hideResetBtn">Reset</button>
      </div>
      <div class="col-12">
        <span class="filename">{{filename}}</span>
        <span *ngIf="filesize">{{filesize}}KB</span>
      </div>
      <div class="text-center d-flex align-items-baseline justify-content-center">
        <button class="btn btn-success afu-upload-btn" type="button" (click)="uploadFiles()"
          [disabled]=!uploadBtn>Upload</button>
      </div>


    </ng-container>
  </div>

  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      {{user.first_name}} {{user.last_name}}
    </div>
    <div class="profile-usertitle-job">
      {{user.user_role}}
    </div>
  </div>
  <div *ngIf="showInviteBtn" class="profile-userbuttons">
    <button *ngIf="user.user_role==='tutor'" type="button" class="btn btn-success btn-sm"
      (click)="inviteTutor()">Invite</button>
  </div>
  <div *ngIf="user.user_role==='tutor'" class="profile-usermenu container">
    <span *ngIf="showInviteBtn" class="font-weight-bold"><u>Subjects</u></span>
    <span *ngIf="!showInviteBtn" class="font-weight-bold"><u>My Subjects</u></span>
    <div *ngFor="let subject of subjects">
      {{subject.name}}
    </div>
  </div>
  <div *ngIf="user.user_role==='tutor' && !showInviteBtn" class="profile-usermenu container">
    <span class="font-weight-bold"><u>Pending Invites</u></span>
    <div *ngFor="let student of pendingInvites" class="d-flex">
      <div class="col-8">
        {{student.first_name}} {{student.last_name}}
      </div>
      <div class="col-2 btn-link text-success" (click)="acceptInvite(student)">
        Accept
      </div>
      <div class="col-2 btn-link" (click)="viewProfile(student)">
        Profile
      </div>
    </div>
  </div>
</div>