<div class="chat">
  <h4 class="text-center" *ngIf="otherUser">{{otherUser.first_name}} {{otherUser.last_name}}</h4>
  <div class="messages">
    <div *ngFor="let chat of chatMessages" class="d-flex"
      [ngClass]="{'justify-content-end':chat.sender_id===user.user_id}">
      <div class="message" [ngClass]="{'me':chat.sender_id===user.user_id}">
        {{chat.message}}
      </div>
    </div>
  </div>
  <div class="textbox">
    <div class="d-flex justify-content-between">
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" #message></textarea>
      </div>
      <button class="btn" (click)="sendToUser(message.value);message.value=''">Send</button>
    </div>
    <div *ngIf="otherUser.online" class="availability online">{{otherUser.first_name}} is online</div>
    <div *ngIf="!otherUser.online" class="availability offline">{{otherUser.first_name}} is offline</div>
  </div>
</div>