.top-bar{
  background-image: linear-gradient(to bottom, green , #3db73d);
  color: white;
  height: 70px;
  -webkit-box-shadow: inset 0 -3px 2px rgba(10, 10, 10, 0.5);
  -moz-box-shadow: inset 0 -3px 2px rgba(10, 10, 10, 0.5);
  box-shadow: inset 0 -3px 2px rgba(10, 10, 10, 0.5);
  .reg-login{
    float: right;
    .mat-button{
      border-radius: 0px !important;
    }
    .login{
      margin: 15px 5px;
    }
    .register{
      margin: 15px 5px;
    }
  }
}
