/* You can add global styles to this file, and also import other style files */
.cdk-global-overlay-wrapper {
  background: ghostwhite;
  position: absolute;
  top: 20vh;
  left: 20vw;
}

.cdk-overlay-pane {
  margin: 0 10vw;
}

/*# sourceMappingURL=styles.css.map */
