/* You can add global styles to this file, and also import other style files */
body{
  background-color: #49a06736 !important;
}
.accordion{
  .card{
    background-color: #36c66836 !important;
  }
}

.cdk-global-overlay-wrapper,.cdk-overlay-container{
  // background: rgba(0,0,0,0.7);
  // position: absolute;
  // top: 0;
  // height: 100vh;
  // width: 100vw;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cdk-global-overlay-wrapper{
  display: flex;
  position: absolute;
  z-index: 1000;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{
  opacity: 1;
}
.cdk-overlay-dark-backdrop{
  background: rgba(0,0,0,.32)
}
.cdk-overlay-backdrop{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25,.8,.25,1);
  opacity: 0;
}
.cdk-overlay-pane{
  margin: 0 10vw;
  width: 100vw !important;
  max-width: 100vw !important;
}
.cdk-overlay-container{
  position: fixed;
  z-index: 1000;
}

.cdk-live-announcer-element.cdk-visually-hidden{
  display: none;
}

.mat-snack-bar-container {
  background: rgba(10, 10, 10, 0.9);
  color: red;
}

.close{
  color: white;
}

.answer-modal,.question-modal,#answers,#confirmation,#edit_question,#edit_answer{
  background: gainsboro;
}

#questions,#answers{
  .options,.show_answers,.answer-btn{
    .btn{
      border: 1px solid #28a745 !important;
    }
  }
}

#confirmation,#edit_question,#edit_answer{
  .btn{
    margin: 1vw 2vw;
  }
}

#answers{
  height: 80vh;
  overflow-y: scroll;
}

#main-container{
  margin: 0 !important;
}

.nav-tabs .nav-link.active {
  border-color: #3db73d #3db73d #fff !important;
}

.nav-tabs {
  border-bottom: 1px solid #3db73d !important;
}

.mat-dialog-container{
  padding: 0 !important;
}

.modal-footer{
  justify-content: space-between !important;
}

.username_card{
  color: #3db73d;
}

.votes{
  .btn{
    color: #3db73d;
  }
  .btn-success{
    color: white;
  }
}

.nav-collapse{
  &.closed{
    span {
      display: block;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25px;
      height: 4px;
      background: #10161A;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
  
    span:before, span:after {
      content: "";
      display: block;
      height: 4px;
      background: #10161A;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
  
    span:before{
      -webkit-transform: translate(0%, 10px);
    -ms-transform: translate(0%, 10px);
    transform: translate(0%, 10px);
    }
  
    span:after {
      -webkit-transform: translate(0%, -14px);
      -ms-transform: translate(0%, -14px);
      transform: translate(0%, -14px);
    }
  }

  &.open{
    span {
      background: transparent;
    }

    span:before, span:after {
      content: "";
      display: block;
      height: 4px;
      background: #10161A;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }

    span:before {
      -webkit-transform: translateY(0px) rotate(-135deg);
      -ms-transform: translateY(0px) rotate(-135deg);
      transform: translateY(0px) rotate(-135deg);
    }

    span:after {
      -webkit-transform: translateY(-4px) rotate(135deg);
      -ms-transform: translateY(-4px) rotate(135deg);
      transform: translateY(-4px) rotate(135deg);
    }
  }
}

.notifications{
  .card{
    border: 1px solid #28a745;
    padding-left: 0.2em;
  }
}

#chatroom,  .chat{
  .online{
    color: green;
  }
  .offline{
    color: red;
  }
  .availability{
    font-size: 2em;
  }
  .occupation, .subject, .group-admin{
    color: grey;
    font-size: 14px;
  }
  .name{
    color: #3db73d;
  }

  .btn-link{
    color:#000 !important;
  }
}

.chat{
  width: 90%;
  margin: 5%;
  position: relative;
  height: calc(100vh - 4em);

  h4{
    color: white;
    background: darkslategray;
  }
  .messages{
    height: calc(100vh - 12em);
    overflow-y: scroll;
  }
  .message{
    max-width: 70%;
    border: 1px solid #3db73d;
    margin: 0.3em;
    padding: 0.3em;
    border-radius: 1em 1em 1em 0;

    &.me{
      background-color: #3db73d;
      color: white;
      text-align: left;
      border-radius: 1em 1em 0 1em;
    }
  }
  .chat-message {
    height: 3em;
    width: 80%;
    textarea {
      width: 100%;
    padding: 0.5em 1em;
    font: 14px/22px "Lato", Arial, sans-serif;
    border-radius: 5px 0 0 5px;
    resize: none;
    height: inherit;
    }
  }
  .availability{
    font-size: 13px;
    text-align: center;
  }
  .textbox{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 5%;
    button{
      background-color: #3db73d;
      padding: 0 .75rem;
      width: 20%;
      border-radius: 0 .25rem .25rem 0;
      color: white;
    }
  }
}
.input-container{
  border: 0.1em solid #3db73d;
  border-radius: 1em;
  padding-right: 0 !important;
  input{
    border: none;
    padding: 0;
  }
  input:focus {
    outline: none;
  }
  mat-icon{
    color: #fff;
    background-color: #3db73d;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-left: 0.1em solid #3db73d;
  }
}

@media (min-width: 992px) {
  #small-screen-navbar{
    display: none;
  }
}

@media (max-width: 991px) {
  #big-screen-navbar{
    display: none;
  }
}

.logo{
  padding: 0 2em 0px 0;
}

.link{
  color: #007bff;
}

.filename{
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}

.img-responsive{
  height: 10em;
  width: 10em;
}